// contained within this file are all your resets, variables, mixins, and any utility classes.
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

$background-color-dark: #161d30;
$primary-color-dark: #283046;
$box-shadow-dark: 0 4px 24px 0 rgba(34, 41, 47, 0.24);
$secondary-color: #7367f0;
$main-responsive-breakpoint: 678px;

* {
  color: #fff;
}

html {
  //   font-size: 62.5%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: $background-color-dark;
  //   font-size: 62.5%;
  min-height: 200vh;
  color: #fff;
}

main {
  padding: 0 2rem;
}
