// anything reusable such as buttons, navbars, cards etc.

.nav-main {
  background-color: #283046;
  a {
    color: #d0d2d6;
    &:hover {
      color: #fff;
      transition: all 500ms;
    }
  }
}

.home {
  display: none;
}

.home,
.customer {
  padding-top: 65px;
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
}

.home-main {
  height: 100%;
  &_info {
    box-shadow: $border-shadow;
    background-color: $secondary-color;
    border-radius: $container-radius;
  }
  &_profit {
    box-shadow: $border-shadow;
    border-radius: $container-radius;

    background-color: $primary-color;

    h4 {
      color: $font-base-color;
    }
  }

  &_customers {
    box-shadow: $border-shadow;
    border-radius: $container-radius;
    background-color: $primary-color;

    h4 {
      color: $font-base-color;
    }
  }
}

.customer-form {
  box-shadow: $border-shadow;
  border-radius: $container-radius;
}

input[type="text"] {
  background-color: #283046;
  color: #fff;
}
