// anything reusable such as buttons, navbars, cards etc.

.components-btn {
  color: #fff;
  border-color: transparent;
  background-color: transparent;
  text-align: center;
  font-size: 1.1rem;
  padding: 0.3rem 1rem;
  border-radius: 0.358rem;
  margin-right: 1rem;
  font-weight: 300;

  &:hover {
    border-color: transparent;
    color: rgba(255, 255, 255, 1);
    background-color: $background-color-dark;
    cursor: pointer;
    // box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
  }
  &:focus {
    background-color: $secondary-color;

    outline: none;
  }
}
// $secondary-color
body,
button,
input,
optgroup,
select,
textarea {
  font-family: "Source Sans Pro", sans-serif;
}
