.order {
  &-invoice_details {
    width: 40rem;
    height: 30rem;
    border-radius: $main-radius;
    box-shadow: $box-shadow-dark;
    padding: 1rem;
    background-color: $primary-color-dark;
  }

  &-item_select {
    width: 40rem;
    height: 30rem;
    border-radius: $main-radius;
    box-shadow: $box-shadow-dark;
    padding: 1rem;
    background-color: $primary-color-dark;
  }

  &-total {
    width: 40rem;
    height: 30rem;
    border-radius: $main-radius;
    box-shadow: $box-shadow-dark;
    padding: 1rem;
    background-color: $primary-color-dark;
  }
}
